body {
    font-family: "Noto Sans Lao", sans-serif;
    background: #eef2f3;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .login-box, .container {
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    width: 90%;
    max-width: 400px;
  }
  
  input, button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
  }
  
  button {
    background-color: #0078d7;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #005fa3;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: center;
  }
  
  a.main-link {
    display: inline-block;
    background: #00b894;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
  }
  
  a.main-link:hover {
    background: #019874;
  }
  